@media screen and (max-width: 1350px) {
    .lista {
        .grid-lista {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }
    }
}

@media screen and (max-width: 1000px) {
    footer {
        div {
            a {
                i {
                    font-size: 50px;
                    margin: 40px;
                }
            }
        }
    }

    .lista {
        .grid-lista {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(6, 1fr);
        }
    }
}

@media screen and (max-width:1000px) and (min-width:600px) {
    .servicio-seccion {
        .servicio-cuadro {
            .servicio-elemento {
                width: 300px;
                height: 330px;

                h3 {
                    padding: 18px;
                    font-size: 22px;
                }

                img {
                    width: 250px;
                    height: 150px;
                }
            }
        }

        .otros-servicios {
            a {
                margin-bottom: 45px;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .banner {
        div {
            h1 {
                margin-top: 8%;
            }

            p {
                margin-top: 8%;
            }
        }
    }

    .somos {
        grid-template-columns: 1fr;
    }

    .nos-con {
        grid-template-columns: 1fr;

        .contactos {
            background-color: #f3eae8;

            h2 {
                margin-top: 30px;
            }
        }
    }

    .about-grid {
        grid-template-columns: 1fr;
    }

    .registro {
        .tabla-registro {
            width: 400px;
            height: 600px;

            h1 {
                font-size: 20px;
            }

            form {
                div {
                    margin-bottom: 10px;

                    h3 {
                        margin-left: 15px;
                    }
                }
            }

            a {
                padding: 5px;
            }

        }
    }

    @media screen and (max-width: 750px) {
        footer {
            div {
                a {
                    i {
                        font-size: 40px;
                        margin: 12px;
                    }
                }
            }
        }

        
    }

    @media screen and (max-width: 700px) {
        .lista {
            .grid-lista {
                grid-template-columns: 1fr;
                grid-template-rows: 12fr;
            }
        }
    }

    @media screen and (max-width: 650px) {
        .banner {
            div {
                background-image: url(../img/minibanner.png);
            }
        }
    }

    @media screen and (max-width:599px) {
        .servicio-seccion {
            .servicio-cuadro {
                padding: 68px 45px 68px 45px;

                .servicio-elemento {
                    width: 200px;
                    height: 250px;

                    h3 {
                        padding: 13px;
                        font-size: 22px;
                    }

                    img {
                        width: 150px;
                        height: 100px;
                    }

                    a {
                        font-size: 15px;
                    }
                }
            }

            .otros-servicios {
                a {
                    margin-bottom: 35px;
                    font-size: 13px;
                }
            }
        }
    }

    @media screen and (max-width: 400px) {
        .nos-con {
            .contactos {
                grid-template-columns: 1fr;
                grid-template-rows: 25px 250px 300px 50px;
                gap: 25px;
                grid-template-areas:
                    "contacta"
                    "whats"
                    "insta"
                    "link";

                .red1 {
                    margin: 50px;
                    height: 250px;
                }

                .red2 {
                    margin: 50px;
                    height: 250px;
                }

                .redes-link {
                    margin-bottom: 40px;
                }
            }
        }
    }

    @media screen and (max-width:1350px) and (min-width:1150px) {
        .servicio-seccion {

            .servicio-cuadro {
                .servicio-elemento {
                    width: 300px;
                    height: 330px;

                    h3 {
                        padding: 18px;
                        font-size: 22px;
                    }

                    img {
                        width: 250px;
                        height: 150px;
                    }

                }
            }

            .otros-servicios {
                a {
                    margin-bottom: 45px;
                }
            }
        }
    }
}