header {
    nav {
        background-color: nth($colores , 4);
        padding: 10px;
        @extend %flex-center;
        justify-content: space-between;
        

        div {
            div {
                .profile {
                    display: flex;
                    justify-content: end;
                }

                a {
                    img {
                        height: 45px;
                    }
                }
            }
        }
    }
}