.banner {
    div {
        height: 80vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.163), rgba(0, 0, 0, 0.312)), url(../img/banner.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @extend %flex-center;
        flex-direction: column;

        h1 {
            background-color: #2e355a70;
            text-align: center;
            border-radius: 10px;
            color: nth($colores, 15);
            padding: 7px 10px 7px 10px;
            margin-top: 5%;
            margin-left: 80px;
            margin-right: 80px;
        }

        p {
            background-color: #2e355a70;
            text-align: center;
            border-radius: 10px;
            padding: 12px;
            color: nth($colores, 13);
            margin-top: 5%;
            margin-left: 80px;
            margin-right: 80px;
        }
    }
}

.somos {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    background-color: #e2e2e2;

    div {
        @extend %flex-center;
        flex-direction: column;

        h2 {
            color: nth($colores, 8);
            padding-top: 20px;
        }

        p {
            text-align: justify;
            padding: 20px;
        }
    }

    div {
        img {
            width: 100%;
        }
    }
}

.carrusel {
    margin-left: 10vh;
    margin-right: 10vh;

    h2 {
        color: nth($colores, 8);
        padding: 10px;
        text-align: center;
    }
}

.carrusel-img {
    border: 2px solid nth($colores, 2);
}

.carrusel-text {
    background-color: nth($colores, 8);
}

.boton-comprar {
    background-color: nth($colores, 13);
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    color: nth($colores, 9);
}

.nos-con {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    background-color: nth($colores, 13);

    .nosotros {
        text-align: center;
        margin: 5px 25px 5px 25px;

        h2 {
            color: nth($colores, 8);
        }

        h3 {
            color: nth($colores, 11);
            background-color: nth($colores, 4);
        }

        a {
            text-decoration: none;
            color: nth($colores, 11);
            background-color: nth($colores, 2);
            padding: 2px 5px 2px 5px;
            border-radius: 10px;

            &:hover {
                color: nth($colores, 7);
            }
        }
    }

    .contactos {
        text-align: center;
        display: grid;
        grid-template-rows: .5fr 2fr 1fr;
        gap: 50px;
        grid-template-areas:
            "contacta contacta"
            "whats insta"
            "link link";

        h2 {
            grid-area: contacta;
            color: nth($colores, 8);
        }

        .red1 {
            grid-area: whats;
            background-color: nth($colores, 1);
            color: nth($colores, 11);
            border-radius: 20px;
            padding: 5px;

        }

        .red2 {
            grid-area: insta;
            background-color: nth($colores, 1);
            color: nth($colores, 11);
            border-radius: 20px;
            padding: 5px;

        }

        .redes-link {
            grid-area: link;

            a {
                text-decoration: none;
                color: nth($colores, 11);
                background-color: nth($colores, 2);
                padding: 2px 5px 2px 5px;
                border-radius: 10px;

                &:hover {
                    color: nth($colores, 7);
                }
            }
        }
    }
}

//###########################################################//
//##########################Service##########################//
//###########################################################//

.lista {
    background-color: nth($colores, 2);

    h1 {
        text-align: center;
        color: nth($colores, 12);
        font-size: 60px;
        padding: 19px;
    }

    .grid-lista {
        padding: 0px 98px 98px 98px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 28px;
        grid-row-gap: 30px;

        .lista-elemento {
            text-align: center;
            @extend %flex-center;
            justify-content: center;

            a {
                text-decoration: none;
                color: nth($colores, 7);
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
}

.servicio-seccion {
    padding-top: 48px;

    h2 {
        font-size: 35px;
        text-align: center;
        color: nth($colores, 7);
        margin: 25px;
    }

    &:nth-child(even) {
        background-color: nth($colores, 4);

    }

    &:nth-child(odd) {
        background-color: nth($colores, 1);

        .servicio-cuadro {
            .servicio-elemento {
                border: 2px solid nth($colores, 3);
                background-color: #315a6e;

                a {
                    color: nth($colores, 5);
                    background-color: nth($colores, 9);
                }

                h3 {
                    color: nth($colores, 7);
                }
            }
        }
    }

    .servicio-cuadro {
        padding: 98px 45px 98px 45px;
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        flex-direction: row;
        justify-content: space-evenly;

        .servicio-elemento {
            @extend %flex-center;
            flex-direction: column;
            @include size(350px, 380px, 0, 0);
            border: 2px solid #7a75a8;
            background-color: nth($colores, 9);

            h3 {
                font-size: 30px;
                padding: 20px;
                color: nth($colores, 5);
            }

            img {
                @include size(300px, 200px, 0, 0);
            }

            a {
                text-decoration: none;
                color: #315a6e;
                background-color: nth($colores, 7);
                font-weight: bolder;
                margin-top: 20px;
                padding: 7px;
                border-radius: 10px;
            }
        }
    }

    .otros-servicios {
        @extend %flex-center;
        justify-content: center;

        a {
            text-decoration: none;
            background-color: nth($colores, 3);
            color: nth($colores, 7);
            padding: 10px;
            margin-bottom: 50px;
            border-radius: 10px;
            font-weight: bold;
        }
    }
}

//###########################################################//
//##########################Aboutus##########################//
//###########################################################//

.about-title {
    background-color: nth($colores, 2);
    text-align: center;
    padding: 25px;

    h1 {
        color: nth($colores, 9);
    }

    div {
        @extend %flex-center;
        flex-wrap: wrap;
        justify-content: center;

        h2 {
            color: nth($colores, 11);
            font-size: 45px;
            padding: 0px 30px 0px 30px;
        }

        img {
            width: 80px;
        }
    }
}

.about-topic {
    background-color: nth($colores, 12);
    text-align: center;
    padding: 10px;
}

.about-grid {
    display: grid;
    grid-template-columns: 75% 25%;

    .frases {
        background-color: nth($colores, 14);
        padding: 10px;

        h3 {
            text-align: center;
        }
    }
}

//###########################################################//
//##########################Contact##########################//
//###########################################################//

.socialpage {
    background-color: nth($colores, 2);
    text-align: center;

    h1 {
        padding: 30px;
        color: nth($colores, 9);
    }

    .seccontenido {
        background: linear-gradient(nth($colores, 12), nth($colores, 6));

        h2 {
            font-size: xx-large;
            padding-top: 15px;
            color: nth($colores, 5);
        }

        div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 30px;
            text-align: center;

            div {
                @include size(300px, 430px, 35px, 0);
                box-sizing: border-box;
                background-color: nth($colores, 9);
                border: 3px solid nth($colores, 1);
                @extend %flex-center;
                flex-direction: column;
                margin-bottom: 30px;

                a {
                    img {
                        @include size(180px, 180px, 0, 0);
                    }
                }

                .link {
                    background-color: nth($colores, 6);
                    border: 2px solid nth($colores, 3);
                    border-radius: 8px;
                    padding: 2px;
                    text-decoration: none;
                    color: nth($colores, 1);
                    font-size: x-large;
                    font-weight: bold;
                }
            }
        }
    }

    .seccontacto {
        background: linear-gradient(nth($colores, 12), nth($colores, 6));
        padding: 30px;

        h2 {
            font-size: xx-large;
            padding-top: 15px;
            color: nth($colores, 5);
        }

        div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 30px;
            text-align: center;

            div {
                @include size(300px, 430px, 35px, 0);
                box-sizing: border-box;
                background-color: nth($colores, 9);
                border: 3px solid nth($colores, 1);
                @extend %flex-center;
                flex-direction: column;

                a {
                    img {
                        @include size(180px, 180px, 0, 0);
                    }
                }

                .link {
                    background-color: nth($colores, 6);
                    border: 2px solid nth($colores, 3);
                    border-radius: 8px;
                    padding: 2px;
                    text-decoration: none;
                    color: nth($colores, 1);
                    font-size: x-large;
                    font-weight: bold;
                }
            }
        }
    }
}

//###########################################################//
//###########################Forms###########################//
//###########################################################//

.registro {
    background-color: #7a75a8;
    color: nth($colores, 2);
    padding: 40px;
    display: flex;
    justify-content: center;

    .tabla-registro {
        width: 500px;
        height: 600px;
        border: 2px solid nth($colores, 2);
        background-color: nth($colores , 9);
        @extend %flex-center;
        flex-direction: column;
        justify-content: center;


        h1 {
            font-size: 40px;
            margin-left: 20px;
        }

        form {
            div {
                margin-bottom: 15px;

                h3 {
                    margin-left: 20px;
                }
            }

            .alinear {
                @extend %flex-center;
                flex-direction: column;
                justify-content: center;
            }
        }

        .registro-boton {
            margin-top: 20px;

            a {
                padding: 8px;
                text-decoration: none;
                letter-spacing: 2px;
                color: nth($colores, 1);
                outline: 2px solid nth($colores, 8);
                position: relative;
                overflow: hidden;
                transition: color 1s;

                &:hover {
                    color: nth($colores, 8);
                }
            }
        }
    }
}